.vshost.exe
/Office-ProPlus-Deployment/SelfServiceWebDeployment/Deploy/csx/Debug/roles/OfficeProPlusSelfServiceSite/plugins/Diagnostics/Monitor/x64/Extensions/ApplicationInsightsExtension
/Office-ProPlus-Deployment/SelfServiceWebDeployment/AzureDeploySelfServiceSite/obj/Release/OfficeProPlusSelfServiceSite/App/Application Files/SelfServiceInstaller_1_0_0_21
